<h2>Przyjmij partię cegieł</h2>
<form [formGroup]="buyBricksForm" (ngSubmit)="buyBricks()">
    <div>
        <label>
            Ilość:
            <input type="text" formControlName="quantity">
        </label>
    </div>
    <div>
        <label>
            Cena:
            <input type="text" formControlName="price">
        </label>
    </div>
    <br>
    <button type="submit" [disabled]="!buyBricksForm.valid">Akceptuj</button>
</form>
