<h2>Witaj w magazynie cegieł.</h2>
<p>Aktualnie na stanie mamy {{state}} cegieł.</p>
<a [routerLink]="['/buy']" class="w3-btn w3-blue w3-margin">Przyjmij partię cegieł</a>
<br>
<a [routerLink]="['/sell']" class="w3-btn w3-blue w3-margin">Kup Cegły</a>