<div class="w3-bar w3-blue w3-display-container w3-card w3-padding-16">
  <app-top-bar class="w3-padding"></app-top-bar>
</div>
<div class="w3-container w3-card-4 w3-margin-top w3-padding-16 w3-content">
  <router-outlet></router-outlet>
</div>