<h2>Kup  cegły</h2>
<form [formGroup]="sellBricksForm" (ngSubmit)="sellBricks()">
    <div>
        <label>
            Ile cegieł chcesz kupić?:
            <input type="text" formControlName="quantity">
        </label>
    </div>
    <br>
    <button type="submit" [disabled]="!sellBricksForm.valid">Akceptuj</button>
</form>