<div class="w3-display-left">
    <div class="w3-bar-item">
        <a [routerLink]="['/']">
            <h3>{{title}}</h3>
        </a>
    </div>
</div>
<div class="w3-display-right">
    <div class="w3-bar-item">
        <a [routerLink]="['/history']" class="w3-btn w3-indigo w3-round-large">
            Historia zamówień
        </a>
    </div>
</div>
